/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mo 1      &kp UP    &kp ESC    &trans   
&kp LEFT   &kp DOWN  &kp F      &kp Y    
&kp Z      &kp X     &kp RIGHT  &kp G  
&trans     &trans    &kp C      &kp SPACE   
            >;
             sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        bt_layer {
            bindings = <
&trans   &bt BT_SEL 0    &bt BT_SEL 1     &trans
&trans   &trans          &bt BT_CLR_ALL   &bootloader        
&trans   &trans          &trans           &trans          
&trans   &trans          &kp A            &trans   
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};